{% extends 'page.html.twig' %}

{% block javascripts %}
<script type="text/javascript" src="/js/filters.js"></script>
{% endblock %}

{% block heading %}Resources{% endblock %}

{% block body %}
{{ include('partials/filters.html.twig') }}
{% if resources|length == 0 %}
<p class="notification is-info is-light">
    No resources found - <a href="{{ path_for('account.add') }}" class="is-link">add an account</a> to trigger resource discovery
</p>
{% else %}
<div class="table-container">
    <table class="table is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Name</th>
                <th>Account</th>
                <th>Region</th>
                <th>State</th>
            </tr>
        </thead>
        <tbody>
        {% for resource in resources %}
            <tr>
                <td>{{ resource.name }}</td>
                <td>{{ resource.account }}</td>
                <td>{{ resource.region|region_label }}</td>
                <td>{{ resource.state }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock %}
